.Navbar{
    width: 100%;
    background-color: greenyellow;
    color: black;
    max-height: 100px;
    
  }
  
  .Navbar > ul{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }